extends layout

block content
  h1.home= title
  p.home Let's Bounce.
  div.home
    a(href='/add') Add Game Stats!
    &nbsp;|&nbsp;
    a(href='/leaderboard') View Leaderboard
    &nbsp;|&nbsp;
    a(href='/players') Player Stats
