extends layout

block content
  h1.leader= title
  a(href='/add') Add Game Stats!
  div.leaderboard 
    table.stats
      thead
        tr
          th(colspan='2') GAMES WON
      tbody
        tr
          td Name
          td Games
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') WIN RATE
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') GAMES PLAYED
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') WINNING PT MARGIN
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') CONSECUTIVE WINS
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') OPPONENTS BEATEN
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
