body {
  padding: 50px;
  font-family: 'Aldrich', sans-serif;
  background-color: #3DA35D;
  background-image: url('../images/table-stealth.jpeg');
}

a {
  color: #00B7FF;
}

span.white-link {
  position: absolute;
  font-size: .6em;
  right: 0px;
  bottom: 5px;
}

span.white-link > a {
  color: white;
  font-size: .6em;
  text-decoration: none;
}

.home, .leader, .players, .single-stats {
  color: #3DA35D;
}

.leaderboard {
  margin-top: 20px;;
  border: solid white 10px;
  padding: 20px;
  background-color: rgba(61, 163, 93, .4);
}

.stats {
  margin: 5px;
  border: solid white 1px;
  background-color: rgba(35, 94, 54, .7);
  display: inline-block;
  width: 15.5%;
  height: 400px;
  text-align: center;
}

.stats:hover {
  box-shadow: 0 0 5px 3px yellow;
}

.my-stats {
  margin-top: 20px;
  border: solid white 1px;
  background-color: rgba(35, 94, 54, .7);
  display: inline-block;
  width: 50%;
  text-align: center;
}

tr:hover {
  background-color: black;
}

.stats th {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  width: 200px;
  height: 40px;
}

tr {
  height: 40px;
}

td:first-child {
  background-color: rgba(255, 255, 255, .5);
  width: 75%;
}

td:last-child {
  color: white;
}

.add-stats {
  margin: 0 auto;
  border: solid white 10px;
  padding: 20px;
  width: 50%;
  background-color: rgba(61, 163, 93, .9);
  box-shadow: 2px 2px 10px 2px yellow;
}

h1.new-stats {
  border-bottom: solid white 3px;
  position: relative;
}

.error {
  font-style: italic;
  font-size: .85em;
  color: yellow;
}

.individual{
  color: white;
  display: inline-block;
  border: solid white 1px;
}

.player-select {
  width: 200px;
}

#required {
  font-size: .75em;
  color: yellow;
}

span {
  color: yellow;
}

input[type= 'number']:focus, input[type= 'date']:focus, input[type= 'time']:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px yellow;
  outline: none;
  border: 2px solid yellow;
}

form {
  margin: 0 auto;
  padding: 20px;
}

form > div{
  margin-bottom: 20px;
}

label {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

#name1, #name2, #score1, #score2 {
  display: inline-block;
  width: 145px;
}

input[type='number'] {
  width: 35px;
  margin-right: 10px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input[type=radio].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:25px;
  margin-left: 10px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:left;
  cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_19670f085a2bb301d556969dc251c2ce.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, select {
  height: 25px;
}

#submit {
  margin-left: 150px;
  font-weight: bold;
  font-size: .8em;
  height: 40px;
  border: 3px solid black;
  background-color: yellow;
}

#submit:hover {
  box-shadow: 0 0 5px 3px black;
}

textarea {
  width: 300px;
  height: 100px;
}

select, input, textarea {
  border: solid black 2px;
  font-family: 'Aldrich', sans-serif;
  }
}
